/* Importación de las fuentes Outfit */
@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("@/assets/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  /* Colores principales */
  --color-primary: #ff6500;
  --color-secondary: #9f00c5;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-text: #333333;
  --color-text-secondary: #666666;

  /* Colores de estado */
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;

  /* Otros colores útiles */
  --color-border: #e0e0e0;
  --color-border-color: #333333;
  --color-inactive: #9e9e9e;

  /* Gradiente */
  --gradient-primary: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

/* Modo oscuro */
body.dark {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text: #ffffff;
  --color-text-secondary: #b0b0b0;
  --color-border: #333333;
  --color-border-color: var(--color-primary);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}

a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 800;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-surface);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  background-color: var(--color-surface);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-title {
  font-weight: 800;
  margin: 0px 0px 20px 0px;
  text-align: left;
  font-size: 24px;
  width: 100%;
  max-width: 350px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text);
    background-color: var(--color-background);
  }
  a:hover {
    color: var(--color-primary);
  }
  button {
    background-color: #f9f9f9;
  }
}
